{% extends 'base.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class='container' style='padding-top: 8em;'>
    <h1 class="h3 mb-3 font-weight-normal text-warning">S'enregistrer</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-warning">S'enregistrer</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
