{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Features</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feature.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ feature.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ feature.Description }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ feature.icone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('features_index') }}">back to list</a>

    <a href="{{ path('features_edit', {'id': feature.id}) }}">edit</a>

    {{ include('features/_delete_form.html.twig') }}
</div>
{% endblock %}
