{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Booking</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Num_mobile</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Nombre_de_particpant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.nom }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.numMobile }}</td>
                <td>{{ booking.Date ? booking.Date|date('Y-m-d') : '' }}</td>
                <td>{{ booking.heure ? booking.heure|date('H:i:s') : '' }}</td>
                <td>{{ booking.nombreDeParticpant }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
    </div>
{% endblock %}
