{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Catfood</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catfood.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ catfood.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ catfood.description }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ catfood.icone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catfood_index') }}">back to list</a>

    <a href="{{ path('catfood_edit', {'id': catfood.id}) }}">edit</a>

    {{ include('catfood/_delete_form.html.twig') }}
</div>
{% endblock %}
