{% extends 'base.admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div style="padding-top: 8em;">
    <h1 class="text-warning">Chef</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Poste</th>
                <th>Photo</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Twitter</th>
                <th>Linkedin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <td>{{ chef.id }}</td>
                <td>{{ chef.nom }}</td>
                <td>{{ chef.prenom }}</td>
                <td>{{ chef.poste }}</td>
                <td>{{ chef.photo }}</td>
                <td>{{ chef.Facebook }}</td>
                <td>{{ chef.instagram }}</td>
                <td>{{ chef.Twitter }}</td>
                <td>{{ chef.Linkedin }}</td>
                <td>
                    <a href="{{ path('chef_show', {'id': chef.id}) }}">show</a>
                    <a href="{{ path('chef_edit', {'id': chef.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chef_new') }}">Create new</a>
</div>
{% endblock %}
